.statistics {
  margin: 20px auto;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.title {
  text-align: center;
  border-bottom: 1px solid #ccc;
  height: 50px;
  padding: 10px;
}

.statList {
  display: flex;
  background-color: #eee;
}
